/* screen - index */

.index {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 800px;
  padding: 0 64px;
  width: 1280px;
}

.index .overlap-group {
  align-items: flex-start;
  background-image: url(../img/hand-with-protective-gloves-holding-blood-samples-covid-test-1-1-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  min-height: 768px;
  padding: 153.1px 93px;
  width: 1152px;
}

.index .unknown {
  height: 127px;
  object-fit: cover;
  width: 426px;
}

.index .overlap-group1 {
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.59) 0%, rgba(19, 50, 69, 0.59) 100%);
  border-radius: 57px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-left: 92px;
  margin-top: 93px;
  min-width: 173px;
  padding: 5px 19px;
}

.index .student {
  color: var(--white);
  font-family: var(--font-family-alnile-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28px;
  min-height: 30px;
  min-width: 134px;
  text-align: center;
  text-shadow: 0px 10px 20px #00000029;
  white-space: nowrap;
}

.index .overlap-group2 {
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(19, 50, 69, 0.6) 100%);
  border-radius: 57px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  margin-left: 92px;
  margin-top: 19px;
  min-width: 173px;
  padding: 5px 23px;
}

.index .facility {
  color: var(--white);
  font-family: var(--font-family-alnile-bold);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 28px;
  min-height: 30px;
  min-width: 126px;
  opacity: 1.0;
  text-align: center;
  text-shadow: 0px 10px 20px #00000029;
  white-space: nowrap;
}

.index .log-in {
  color: var(--white);
  font-family: var(--font-family-al_nile);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 92px;
  margin-top: 34px;
  min-height: 27px;
  min-width: 62px;
  text-align: center;
  text-shadow: 0px 10px 20px #00000029;
  white-space: nowrap;
}

.index .span {
  text-decoration: underline;
}
