/* screen - videos */

.videos {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 800px;
  padding: 23.0px 42px;
  width: 1280px;
}

.videos .overlap-group {
  border-radius: 40px;
  height: 754px;
  margin-top: 0;
  position: relative;
  width: 1196px;
}

.videos .group-1 {
  background-color: var(--cascade);
  border-radius: 40px;
  display: flex;
  height: 754px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1196px;
}

.videos .rectangle-54 {
  background-color: var(--axolotl);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 40px 40px 0px 0px;
  flex: 1;
  height: 200px;
  margin-left: 1px;
  opacity: 0.7;
}

.videos .rectangle-75 {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000029;
  height: 339px;
  left: 361px;
  opacity: 0.8;
  position: absolute;
  top: 330px;
  width: 474px;
}

.videos .rectangle-52 {
  background: linear-gradient(180deg, #1590eb 0%, #133245 100%);
  border-radius: 57px;
  height: 50px;
  left: 1029px;
  position: absolute;
  top: 669px;
  width: 103px;
}

.videos .go-back {
  left: 1044px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 3px 6px #00000029;
  top: 690px;
  white-space: nowrap;
}

.videos .group-name {
  height: 51px;
  left: 436px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 10px 20px #00000029;
  top: 212px;
  width: 327px;
}

.videos .unknown {
  height: 77px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 64px;
  width: 259px;
}

.videos .video-assignment {
  color: var(--black);
  font-family: var(--font-family-alnile-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 496px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 306px;
  white-space: nowrap;
}

.videos .icon-awesome-home {
  height: 41px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 233px;
  width: 48px;
}
