body
{
    margin: 0%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    background: url("../media/images/background.png");
    background-size: cover;
}

.logo-container img
{
    padding-top: 35px;
    width: 800px;
    height: 400px;
}

.button
{
    align-items: center;
    margin-left: 300px;
    margin-top: 40px;
    padding: 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    width: 150px; 
    border-radius: 8px;
    background:rgba(149, 138, 138, 0.8);
}