html
{
    height: 100%;
}

body
{
    margin: 0%;
    width: 100%;
    height: 100%;
    /*box-sizing: border-box;*/
    background-color: #86ACAB;
    background-size: cover;
}

.pages-banner
{

    width: 100%;
    height: 185px;
    background-color: #486A4F;
    border-radius: 4px;
}

.nav-container img
{
    width: 305px;
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
}

.pick-groups-form
{
    display: flex;
    flex-direction: row;
    padding-left: 200px;
}

.pick-groups-form img
{
    width: 150px;
    height: 150px;
    padding-top: 50px;
    padding-left: 50px;
}
.pick-groups-form label
{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 90px;
    font-family: Sinhala MN;
}

.pick-groups-button
{
    text-align: center; 
    float: right !important;
    margin-top: 200px;
    margin-left: 40px;
    padding: 5px 5px 10px;
    font-size: 20px;
    font-weight: bold;
    width: 150px; 
    border-radius: 8px;
    background:rgba(149, 138, 138, 0.8);
}
/*end of nav container*/

.create-groups-form
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 200px;
}

.create-groups-form img
{
    width: 150px;
    height: 150px;
    padding-top: 50px;
    padding-left: 50px;
}


.create-groups-form label
{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 90px;
    font-family: Sinhala MN;
}

.message
{
    position: relative;
    display: inline-block;
    margin: 6px 40px;
    white-space: nowrap;
    overflow: hidden;
}

.g2message
{
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}




.create-groups-button
{
    text-align: center; 
    float: right !important;
    margin-top: 200px;
    margin-left: 40px;
    padding: 5px 5px 10px;
    font-size: 20px;
    font-weight: bold;
    width: 150px; 
    border-radius: 8px;
    background:rgba(149, 138, 138, 0.8);
}

/* end of create styles*/ 

/* start of lander*/ 

.member-name-land
{

}

.nav-container img
{
    width: 305px;
    height: 100px;
    padding-left: 20px;
    padding-top: 20px;
}

.member-name-land
{
    flex-direction: col;
}

.member-name-land img
{
    width: 100px;
    height: 100px;
    padding-top: 30px;
    padding-left: 30px;
}

.name
{
    padding-left: 200px;
    font-weight: bold;
    font-family: Sinhala MN;
    font-size: 14px;
}

/* end of student lander style */