html
{
    height: 100%;
}

body
{
    margin: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    background: url("../media/images/background.png");
    background-size: cover;
}
/*end of general stuff  I am going to have to come back and change the backgrounds for the other pages*/ 

/*start of initial*/
.sign-up-container
{
    width: 1320px;
    height: 730px;
    background: rgba(0, 0, 0, 0.4);
}

.sign-up-title
{
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Sinhala MN;
}

.initial-sign-up-form
{
    padding: 8px;
    justify-content: center;
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.initial-sign-up-label
{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
}

.initial-sign-up-button
{
    background-color: gray;
    color:black;
    font-weight: bold;
    font-size: 24px;
    border-radius: 14px;
}

.sign-up-input
{
    padding: 3px;
    color: gray;
    box-sizing: border-box;
    font-size: 12px;
    outline: none;
    border: 2px solid #fff;
}

.sign-up-input:focus
{
    border-color: #486A4F;
}

.initial-sign-up-button
{
    align-items: center;
    margin-top: 10px;
    padding: 1px 3px;
    font-size: 20px;
    font-weight: bold;
    width: 6em; 
    height: 2em;
    border-radius: 6px;
}
/* end of initial*/

/*start of index  */
.logo-container img
{
    padding-top: 35px;
    width: 800px;
    height: 400px;
}

.button
{
    align-items: center;
    margin-left: 300px;
    margin-top: 40px;
    padding: 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    width: 150px; 
    border-radius: 8px;
    background:rgba(149, 138, 138, 0.8);
}
/* end of index */

/* Start of sign on */ 
.sign-on-container
{
    width: 1320px;
    height: 730px;
    background: rgba(0, 0, 0, 0.4);
}
.sign-on-title
{
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Sinhala MN;
}

.sign-on-form
{
    padding: 8px;
    justify-content: center;
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.sign-on-label
{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
}


.sign-on-input
{
    padding: 3px;
    color: gray;
    box-sizing: border-box;
    font-size: 12px;
    outline: none;
    border: 2px solid #fff;
}

.sign-on-input:focus
{
    border-color: #486A4F;
}

.sign-on-button
{
    align-items: center;
    margin-top: 40px;
    padding: 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    width: 150px; 
    border-radius: 8px;
    background:rgba(149, 138, 138, 0.8);
}
/*end of sign on*/

/*submitted pages*/ 



/* end of submitted pages styling */ 

