<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Initial Sign Up
  </title>
  <meta name="viewport" content="width=device-width,intital-scale=1.0">

  {% load static %}
  <link rel='stylesheet' href='../../static/stylesheets/styles.css' />
</head>

<body>
  <div class="sign-up-container">
    <div class="sign-up-title">
      <h1>SIGN UP</h1>
    </div>
    <form action="" method="POST">
      <div class="initial-sign-up-form">
        <div>
          <label for="inpName" class="initial-sign-up-label"> First Name </label>
          <input type="text" class="sign-up-input" name="fname">
        </div>
        <div>
          <label for="inpName" class="initial-sign-up-label"> Last Name </label>
          <input type="text" class="sign-up-input" name="lname">
        </div>

        <div>
          <label for="inpEmail" class="initial-sign-up-label"> Email </label>
          <input type="email" class="sign-up-input" name="email">
        </div>

        <div>
          <label for="inpPass" class="initial-sign-up-label"> Password </label>
          <input type="password" class="sign-up-input" name="password">
        </div>

        <div>
          <button type="submit" class="initial-sign-up-button"> CREATE </button>
        </div>
      </div>
    </form>

  </div>

</body>