<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Login
  </title>
  <meta name="viewport" content="width=device-width,intital-scale=1.0">

  {% load static %}
  <link rel='stylesheet' href='../../static/stylesheets/styles.css' />
</head>

<div class="sign-on-container">
  <div class="sign-on-title">
    <h1>LOGIN </h1>
  </div>

  <body>
    <div class="sign-on-form">
      <form method="POST" name="login-form" action="">{% csrf_token %}
        <div class="sign-on-form">
          <div>
            <label for="inpEmail" class="sign-on-label" id="email" name="email"> Email </label>
            <input type="email" class="sign-on-input" name="email">
          </div>

          <div>
            <label for="inpPass" class="sign-on-label" id="password" name="password"> Password </label>
            <input type="password" class="sign-on-input" name="password">
          </div>

          <div>
            <button type="submit" class="sign-on-button"> LOGIN </button>
          </div>
        </div>
      </form>
    </div>
    <div>
      <a href="{% url 'storyer:signup' %}" style="color:white">Create New Account</a>

    </div>
</div>
</body>


</body>