<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Pick Groups-student
  </title>
  <meta name="viewport" content="width=device-width,intital-scale=1.0">

  {% load static %}
  <link rel='stylesheet' href='../../static/stylesheets/pagestyles.css' />
</head>

<body>
  <div class="pages-banner">
    <div class="nav-container">
      <img src="../../static/media/images/logo.png" alt="logo">
    </div>
  </div>

</body>