<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Create Groups- Facility
  </title>
  <meta name = "viewport" content="width=device-width,intital-scale=1.0">
 
  <!--{% load static %}-->
  <link rel='stylesheet' href='../../static/stylesheets/pagestyles.css'/>
</head>

<body>
    <div class="pages-banner">
        <div class="nav-container">
            <img src="../../static/media/images/logo.png" alt="logo">
        </div>
    </div>
    

    <form action="./" method="post">
        <div  class="create-groups-form">
            <div> 
            <img class="groupicon" src="../../static/media/images/group.png" alt="group">
        
            <label for="message"> Group 1 </label>
        <textarea class="message" rows="8"></textarea>
            </div>

              <div> 
              <img class="groupicon" src="../../static/media/images/group.png" alt="group">
              <label for="message"> Group 2 </label>
              <textarea class="message" rows="8"></textarea>
              </div>

              <div> 
                <img class="groupicon" src="../../static/media/images/group.png" alt="group">
                <label for="message"> Group 3 </label>
                <textarea class="message" rows="8"></textarea>
                </div>
          
                <div> 
                  <img class="groupicon" src="../../static/media/images/group.png" alt="group">
                  <label for="message"> Group 4 </label>
                  <textarea class="message" rows="8"></textarea>
                  </div>

        </div>
             
<!-- how do you get it under the image?-->
<div>
  <button type="submit" class="create-groups-button"> Create Groups </button>
 </div>

    </form>



    
</body>