<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Initial Sign Up
  </title>
  <meta name = "viewport" content="width=device-width,intital-scale=1.0">
 
  <!--{% load static %}-->
  <link rel='stylesheet' href='../../static/stylesheets/styles.css'/>
</head>

<body>
    <div class="logo-container">
        <img src="../../static/media/images/logo.png" alt="logo">

    </div>
    <form action="./" method="post">

    <div>
    <button type="submit" class="button"> FACILITY </button>
    </div>
    
    <div>
     <button type="submit" class="button"> STUDENT </button>
    </div>

    </form>

    </body>