

<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Initial Sign Up
  </title>
  <meta name = "viewport" content="width=device-width,intital-scale=1.0">
  <link rel='stylesheet' href='styles.css'/>
</head>

<body>
  <div class="initial-sign-up-container">
<div class="initial-sign-up-left"> 
<img class="initial-sign-up-logo" src="images/logo.png" alt="logo"> 
</div>

<div class="initial-sign-up-right">
  <h1 class="sign-up-title"> <strong> Create An Account </strong></h1>

  <form action="./" method="post"> 
  <ul class="sign-up-errors">
    <li>Please enter a name</li>
    <li>Please enter a valid Email</li>
  </ul>
  <div>
    <label for="impName" class="sign-up-name">Name</label>
    <input type="text" class="sign-up-input">
    </div>

    <div>
  <label for="impEmail" class="sign-up-email">Email</label>
  <input type="text" class="sign-up-input">
    </div>

    <div>
      <label for="impPass" class="sign-up-pass">Password</label>
      <input type="text" class="sign-up-input">
    </div>

    <div>
      <button type="submit" class="sign-up-button">SIGN UP</button>
    </div>
  </form>
   
  </div>
</div> 
  <!-- this needs to be the linear gradient black-->


</body>