<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Initial Sign Up
  </title>
  <meta name = "viewport" content="width=device-width,intital-scale=1.0">
 
  <!--{% load static %}-->
  <link rel='stylesheet' href='../../static/stylesheets/styles.css'/>
</head>

<body>
  <div class="sign-up-container">

  <div class="sign-up-title">
    <h1>SIGN UP</h1>
  </div>

  </div>


</body>