<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Pick Groups-studnet
  </title>
  <meta name = "viewport" content="width=device-width,intital-scale=1.0">
 
  <!--{% load static %}-->
  <link rel='stylesheet' href='../../static/stylesheets/pagestyles.css'/>
</head>

<body>
    <div class="pages-banner">
        <div class="nav-container">
            <img src="../../static/media/images/logo.png" alt="logo">
        </div>
        </div>

        <div  class="pick-groups-form">
          <div> 
          <img src="../../static/media/images/group.png" alt="group">
      
          <label for="group"> Group 1 </label>
      <div class="descripton1">

      </div>

          </div>

          <div> 
            <img src="../../static/media/images/group.png" alt="group">
        
            <label for="group"> Group 2 </label>
        <div class="descripton2">
  
        </div>

            </div>
          <div> 
              <img src="../../static/media/images/group.png" alt="group">
          
              <label for="group"> Group 3 </label>
          <div class="descripton3" >
    
          </div>
              </div>

              <div> 
                <img src="../../static/media/images/group.png" alt="group">
            
                <label for="group"> Group 4 </label>
            <div class="descripton4" >
      
            </div>
                </div>     

      </div>
    
      <div>
        <button type="submit" class="pick-groups-button"> Rank Groups </button>
       </div>


    
</body>